!!!
html
  head
    title Real-time Web Chat
    script(src='/socket.io/socket.io.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    style(type='text/css')
      body{
        background-color: black;
        color: green;
        font-family: verdana, arial;
      }
      #chat{
        float: left;
        width: 75%;
      }
      #users{
        float: left;
        width: 20%;
        border: 1px solid green;
        padding: .5em;
        margin: .5em;
      }
      #messages{
        padding: 1em;
        list-style: none;
      }
      #messages li{
        border: 1px solid green;
        padding: .5em;
        margin: .3em;
      }
      #messages li.me{
        background-color: #111;
      }
      #messages li.Status{
        color: #0f0;
      }
      #writer{
        border: 1px solid white;
        background-color: black;
        color: green;
        font-family: verdana, arial;
        font-size: 1em;
        padding: 0.5em;
        margin-left: 1em;
        width: 60%;
      }
      #send{
        background-color: green;
        color: black;
        font-weight: bold;
        padding: .8em;
        border: 1px solid gray;
      }
      #send:hover{
        background-color: #0f0;
      }
      .partial{
        color: #040;
      }

    script(type='text/javascript')
      $(document).ready(function(){
        function formatMessage(name, msg, partial){
          if(partial){
            name += ' partial';
          }
          var temp = "<li class='"+name+"'><b>"+name+": </b><span class='msg'>"+msg+"</span></li>";
          return temp;
        }
        
        var socket = io.connect('http://localhost:4000');

        socket.on('connect', function(data){
          nickname = prompt("What's your nickname?");
          socket.emit("join", nickname);
          $("#messages").append(formatMessage("Status", 
                  "Logged in as <b>"+nickname+"</b>", 0));
          $("#usersList").append("<li><b>"+nickname+"</b></li>");
        });

        socket.on('status', function(data){
          if(data.status == 'connected'){
            $("#usersList").append("<li>"+data.name+"</li>");
            $("#messages").append(formatMessage('Status', 
                                                '<b>'+data.name + '</b> is in da house.'));
          }
          if(data.status == 'disconnect'){
            $("#messages").append(formatMessage('Status', 
                                                '<b>'+data.name + '</b> is gone.'));
            $("#usersList li:contains('"+data.name+"')").remove();
          }
        });
        
        socket.on('message', function(data){
          var partials = $("#messages li.partial."+data.name);
          partials.children('.msg').text(data.msg);
          partials.removeClass("partial");
        });
  
        socket.on('partial', function(data){
          var partials = $("#messages li.partial."+data.name);
          if(data.msg == ''){
            if(partials.length)
              partials.remove();
          }else{
            if(partials.length){
              partials.children('.msg').text(data.msg);
            }else{
              $("#messages").append(formatMessage(data.name, 
                                                  data.msg,
                                                  true));
            }
          }
        });
  
        $("#writer").keyup(function(){
          var msg = $("#writer").val();
          socket.emit('partial', msg);
        });
        
        $("#writerForm").submit(function(e){
          var msg = $("#writer").val();
          if(msg != ''){
            var message = {msg: msg};
            socket.emit('message', message);
            $("#writer").val('');
            $("#messages").append(formatMessage("me", msg));
          }
          return false;
        });
      
      });
  body
    #chat
      ul#messages
      form#writerForm
        input#writer(type='text')
        input#send(type='submit', value='Send')
    #users
      h3 Connected Users
      ul#usersList