!!!
html
  head
    title Real-time Web Chat
    script(src='/socket.io/socket.io.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    link(rel='stylesheet', href='/css/css.css')
    script(type='text/javascript', src='/js/js.js')

  body
    #chat
      ul#messages
      form#writerForm
        input#writer(type='text')
        input#send(type='submit', value='Send')
    #users
      h3 Connected Users
      ul#usersList
